<app-navbar (DoUpdateSubscriptions)="UpdateSubscriptions($event)"></app-navbar>
<div class="board">
  <app-toasts></app-toasts>
  <div class="row">
    <div class="col-md-4">
      <div class="col-title">Harvesting</div>
      <div>
        <app-clickpepper [playerData]="playerData"></app-clickpepper>
      </div>
    </div>

    <div class="col-md-4">
      <div class="col-title">Just starting out</div>
      <div class="col-content">
          <div class="row">Collect soil</div>
          <div class="row">Fill up pots</div>

      </div>



      <div class="col-title">Pepper fields</div>
      <div class="col-content">
        <app-currency-counters [playerData]="playerData">
        </app-currency-counters>

        <div class="contentbox fade-in" *ngIf="peppersPerSecond > 0">
          <p>
            Peppers per second:
            {{ peppersPerSecond | number: "1.1-1" }}
          </p>
          <p><img src="./assets/growing.gif" width="250px" /></p>
        </div>
        <div class="contentbox fade-in" *ngIf="goldPerSecond > 0">
          <p>
            Gold per second:
            {{ goldPerSecond | number: "1.1-1" }}
          </p>
        </div>
      </div>

      <div class="col-content">
        <app-earninggold-overview
          [playerData]="playerData"
          (DoUpdateSubscriptions)="UpdateSubscriptions($event)"
        ></app-earninggold-overview>
      </div>
    </div>

    <div class="col-md-4">
      <div class="fade-in" *ngIf="playerData.specialsUnlocked == true">
        <div class="col-title">Specials</div>
        <div class="col-content">
          <app-specials-list
            [playerData]="playerData"
            (DoUpdateSubscriptions)="UpdateSubscriptions($event)"
          ></app-specials-list>
        </div>
      </div>

      <div class="col-title">Improvements</div>
      <div class="col-content">
        <app-improvement-list
          [playerData]="playerData"
          (DoUpdateSubscriptions)="UpdateSubscriptions($event)"
        ></app-improvement-list>
      </div>
    </div>
  </div>
</div>
