<div class="row">
  <div class="col">
    Name
  </div>
  <div class="col">
    Price
  </div>
  <div class="col">
    Owned
  </div>
</div>
<div *ngFor="let improvement of playerData.improvementList">

  <div class="fade-in" *ngIf="improvement.unlocked || playerData.peppers >= improvement.value">
    <ng-template #tipContent>{{improvement.description}}!</ng-template>

      <div
      [ngbTooltip]="tipContent"
      class="row improvement"
      [class.greyed]="improvement.unlocked && playerData.peppers < improvement.value"
      (click)="BuyImprovement(improvement.name)"
      placement="bottom"
      >
      <div class="col">
        {{ improvement.name }}
      </div>
      <div class="col">
        {{ improvement.value | number: "1.0-2" }}
      </div>
      <div class="col">
        {{ improvement.count }}
      </div>
    </div>
  </div>
</div>
