<div class="row">
  <p>You own</p>
  <div class="col-md-4">
    <div class="contentbox">
      <p class="peppercounter">{{ playerData.peppers | number: "1.0-0" }}</p>
      <p>Peppers</p>
    </div>

  </div>
  <div class="col-md-4">
    <div class="contentbox">
      <p class="peppercounter">{{ playerData.gold | number: "1.0-0" }}</p>
      <p>Gold</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="contentbox">
      <p class="peppercounter">{{ playerData.tickets | number: "1.0-0" }}</p>
      <p>Tickets</p>
    </div>
  </div>
</div>


