<div class="specials">
  <div class="specials-box">
    <div
      class="special-item"
      *ngFor="let special of playerData.specialsList"
      (click)="BuySpecial(special.name)"
      [class.notdisplayed]="special.count > 0"
      [ngbTooltip]="special.description + ' - ' + special.value"
    >
      <div [class.greyed]="(!special.unlocked) || (playerData.peppers < special.value)" >
        <div class="special-name">{{ special.name }}</div>
        <span class="special-image-span">
          <img
            class="special-image"
            src="./assets/specials/{{ special.imageUrl }}.png"
            alt=""
        /></span>
        <span>{{ special.value }}</span>
      </div>
    </div>
  </div>
</div>
