.specials-box {
  overflow-y: auto;
  max-height: 200px;

  padding: 5px;
  margin-left: 15px;
  margin-right: 15px;

  border: solid 1px #ddd;
  border-radius: 4px;

  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05),
    0 3px 14px 2px rgba(0, 0, 0, 0.05);

  user-select: none;
  background-color: black;
}

.special-item {
  width: 60px;
  height: 80px;
  position: relative;
  float: left;
  border: grey 3px ridge;
  text-align: center;
  overflow: hidden;
  font-size:xx-small;
  margin: 2px;
}

.special-image {
  width: 30px;
  height: 30px;
}

.special-name {
  min-height: 30px;
}

.special-image-span {
  display: block;
}

.greyed {
  filter: blur(1px);
}

td {
  color:white;
  display: inline-block;
  width: 100px;
}

